* {
    margin: 0;
    padding: 0;
    outline: 0;
}

footer {
    background-color: #140B5C;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.top {
    display: flex;
    flex-direction: row;
    border-bottom: 0.1px solid #FFF;
}

.logo-details {
    position: absolute;
    padding: 35px 110px;
    color: #FFF;
    font-size: 30px;   
}

.media-icons {
    padding: 30px 100px 30px 0px;
    margin-left: 18.5%;
    text-align: right;
    position: relative;
    width: 70%;
    font-size: 30px;
}

.media-icons a i.fa-facebook-f {
    color: #FFF;
    border-radius: 50%;
    background-color: #4267B2;
    padding: 5px 12px 5px 12px;
    margin-right: 5px;
    font-size: 25px;
}

.media-icons a i.fa-twitter {
    color: #FFF;
    background: #3BABF2;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    font-size: 25px;
}

.media-icons a i.fa-instagram {
    color: #FFF;
    background-color: #E12F6D;
    border-radius: 50%;
    padding: 6px 7px 6px 7px;
    margin-right: 5px;
    font-size: 25px;
}

.media-icons a i.fa-linkedin-in {
    color: #FFF;
    background-color: #0277B5;
    border-radius: 50%;
    padding: 6px 7px 6px 7px;
    margin-right: 5px;
    font-size: 25px;
}

.media-icons a i.fa-youtube {
    color: #FFF;
    background-color: #FF0000;
    border-radius: 50%;
    padding: 7px 6px 7px 6px;
    margin-right: 5px;
    font-size: 25px;
}

.link-boxes {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 110px;
}

.link_name {
    color: #FFF;
    border-bottom: 2px solid #FFF;
    width: 30px;
    position: relative;
}

.box a {
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
}

.box li {
    margin-top: 10px;
    font-size: 20px;
    margin-right: 10rem;
}

.link-boxes .box {
    list-style: none;
    margin-top: 40px;
    margin-bottom: 55px;
}

.box .email_link input {
    padding: 10px 10px;
    border: 1px solid #FFF;
    background: #140B5C;
    color: #FFF;
    border-radius: 3px;
    width: 250px;
}

.box .subscribe input {
    padding: 6px 6px;
    border: 1px solid #FFF;
    background-color: rgba(208, 206, 223, 0.985);
    color: rgba(20, 11, 92, 0.999);
    display: block;
    font-size: 20px;
    border-radius: 3px;
    width: 275px;
}

::placeholder {
    color: #D0CEDF;
}

.bottom-details {
    background-color: #0F0844;
    padding: 20px 0;
    color: #D0CEDF;
    position: relative;
}

.bottom_text span a {
    text-decoration: none;
    color: #D0CEDF;
}

.copyright_text {
    margin-left: 110px;
    color: #D0CEDF;
}

.copyright_text a {
    color: #D0CEDF;
    padding-right: 10px;
}

.policy_terms {
    width: 23%;
    float: right;
    margin-right: 110px;
}

.policy_terms a {
    color: #D0CEDF;
    margin-right: 20px;
}